body{
    background-image: url("caca.jpg");
    background-size: cover;
}

article{
    margin: 10px;
    width: 700px;
    color: white;
    font-size: 15px;
}
h1#titulo{
    margin: 10px;
    color: white;
}

#id{
    margin: 10px;
    width: 300px;
}

#botao{
    margin: 10px;
    width: 300px;
}

#visu{
    font-size: 30px;
    float: right;
    justify-content: left;
    margin-right: 100px;
    color: white;

}